# Arch Linux Install Script (alis) configuration file
#
# Some variables values are preceded by a ! character, this means that the value is ignored.
# Some variables accept a single value others accept multiple values as annotated in the comments.
# Some variables are boolean with a value of true or false.
#
# Read the Arch Linux wiki pages to learn more about the variables values.
# https://github.com/picodotdev/alis/blob/master/README.md

# packages (all multiple)

## Arch Linux packages to install
## more at https://www.archlinux.org/packages/
PACKAGES_PACMAN_INSTALL="true"
PACKAGES_PACMAN_INTERNET=""
PACKAGES_PACMAN_MULTIMEDIA="xorg lightdm rofi"
PACKAGES_PACMAN_UTILITIES="base-devel trash-cli screen xsel net-tools nfs-utils exa wget curl fzf dnsutils findutils unzip openssl mlocate nmap tmux mlocate gocryptfs htop neofetch gnome dunst speedtest-cli"
PACKAGES_PACMAN_DOCUMENTS_AND_TEXT="neovim"
PACKAGES_PACMAN_COMMUNICATION=""
PACKAGES_PACMAN_GAMES=""
PACKAGES_PACMAN_SECURITY=""
PACKAGES_PACMAN_SCIENCE=""
PACKAGES_PACMAN_OTHERS="man-db man-pages"
PACKAGES_PACMAN_DEVELOPER="git ansible alacritty pyenv mingw-w64-gcc mingw-w64-binutils python-pipenv code python-pexpect"
PACKAGES_PACMAN_CUSTOM="yay"

## Flatpak packages to install
## more at https://flathub.org/apps/collection/popular
PACKAGES_FLATPAK_INSTALL="false"
PACKAGES_FLATPAK_INTERNET=""
PACKAGES_FLATPAK_MULTIMEDIA="com.spotify.Client !org.ardour.Ardour !org.audacityteam.Audacity !tv.kodi.Kodi !org.pitivi.Pitivi"
PACKAGES_FLATPAK_UTILITIES="!org.freefilesync.FreeFileSync !com.dropbox.Client"
PACKAGES_FLATPAK_DOCUMENTS_AND_TEXT="!org.onlyoffice.desktopeditors !com.wps.Office"
PACKAGES_FLATPAK_COMMUNICATION="com.slack.Slack com.microsoft.Teams us.zoom.Zoom"
PACKAGES_FLATPAK_GAMES="!com.valvesoftware.Steam !org.wesnoth.Wesnoth !com.albiononline.AlbionOnline !org.hedgewars.Hedgewars !com.mojang.Minecraft !net.supertuxkart.SuperTuxKart !org.openttd.OpenTTD"
PACKAGES_FLATPAK_SECURITY=""
PACKAGES_FLATPAK_SCIENCE=""
PACKAGES_FLATPAK_OTHERS="!org.gnucash.GnuCash"
PACKAGES_FLATPAK_DEVELOPER="!com.jetbrains.IntelliJ-IDEA-Community !org.eclipse.Java !com.getpostman.Postman"
PACKAGES_FLATPAK_CUSTOM=""

## SDKMAN packages to install
## more at https://sdkman.io/jdks and https://sdkman.io/sdks
PACKAGES_SDKMAN_INSTALL="false"
PACKAGES_SDKMAN_JDKS="!java:11.0.2-open !java:11.0.9.open-adpt !java:20.3.0.r11-grl" # format <candidate>:[version]:[local-path]
PACKAGES_SDKMAN_SDKS="!gradle !maven !kotlin !groovy" # format <candidate>:[version]:[local-path]

## AUR utility and packages to install
## more at https://aur.archlinux.org/packages/
PACKAGES_AUR_INSTALL="true"
PACKAGES_AUR_COMMAND="yay"
PACKAGES_AUR_INTERNET="brave-bin"
PACKAGES_AUR_MULTIMEDIA=""
PACKAGES_AUR_UTILITIES="ansible-aur-git lightdm-settings lightdm-slick-greeter picom-jonaburg-git polybar joplin-desktop speed-test"
PACKAGES_AUR_DOCUMENTS_AND_TEXT=""
PACKAGES_AUR_COMMUNICATION=""
PACKAGES_AUR_GAMES=""
PACKAGES_AUR_SECURITY=""
PACKAGES_AUR_SCIENCE=""
PACKAGES_AUR_OTHERS="oh-my-zsh-git jq"
PACKAGES_AUR_DEVELOPER=""
PACKAGES_AUR_CUSTOM=""

PACKAGES_PACMAN="$PACKAGES_PACMAN_INTERNET $PACKAGES_PACMAN_MULTIMEDIA $PACKAGES_PACMAN_UTILITIES $PACKAGES_PACMAN_DOCUMENTS_AND_TEXT $PACKAGES_PACMAN_COMMUNICATION $PACKAGES_PACMAN_GAMES $PACKAGES_PACMAN_SECURITY $PACKAGES_PACMAN_SCIENCE $PACKAGES_PACMAN_OTHERS $PACKAGES_PACMAN_DEVELOPER $PACKAGES_PACMAN_CUSTOM"
PACKAGES_FLATPAK="$PACKAGES_FLATPAK_INTERNET $PACKAGES_FLATPAK_MULTIMEDIA $PACKAGES_FLATPAK_UTILITIES $PACKAGES_FLATPAK_DOCUMENTS_AND_TEXT $PACKAGES_FLATPAK_COMMUNICATION $PACKAGES_FLATPAK_GAMES $PACKAGES_FLATPAK_SECURITY $PACKAGES_FLATPAK_SCIENCE $PACKAGES_FLATPAK_OTHERS $PACKAGES_FLATPAK_DEVELOPER $PACKAGES_FLATPAK_CUSTOM"
PACKAGES_SDKMAN="$PACKAGES_SDKMAN_JDKS $PACKAGES_SDKMAN_SDKS"
PACKAGES_AUR="$PACKAGES_AUR_INTERNET $PACKAGES_AUR_MULTIMEDIA $PACKAGES_AUR_UTILITIES $PACKAGES_AUR_DOCUMENTS_AND_TEXT $PACKAGES_AUR_COMMUNICATION $PACKAGES_AUR_GAMES $PACKAGES_AUR_SECURITY $PACKAGES_AUR_SCIENCE $PACKAGES_AUR_OTHERS $PACKAGES_AUR_DEVELOPER $PACKAGES_AUR_CUSTOM"

# systemd
## SYSTEMD_UNITS systemd units to enable or disable.
### If preceded with a "+" unit is enabled, if preceded with "-" unit is disabled, if preceded with "!" unit is ignored (no action is performed).
### eg. "+ufw.service" to enable, "-ufw.service" to disable, "!ufw.service" to ignore
SYSTEMD_UNITS="!ufw.service !docker.service"
